[submodule "Saggiehaim-blog/themes/Blonde"]
	path = Saggiehaim-blog/themes/Blonde
	url = https://github.com/opera7133/Blonde.git
[submodule "Saggiehaim-blog/themes/tailwind"]
	path = Saggiehaim-blog/themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
