{{- $taxonomy := .Taxonomy -}}
{{- $context := .Context -}}
{{- $limit := .Limit -}}
{{ $icon := (index site.Params.taxonomies.icons $taxonomy) | default "tags" }}
{{ $type := .Type }}
{{ range $key, $value := .Data.Terms.ByCount }}
{{ $term := .Term }}
{{ $count := .Count }}
{{ end }}

<section class="flex flex-col w-full gap-y-3 pl-6 py-3 mt-6 text-slate-800 dark:text-slate-200">
  <div class=" place-self-center ">
    <a class="flex flex-row" href='{{ (site.GetPage $taxonomy).RelPermalink }}'>

      <h2 class="pl-1 uppercase">
        {{ T (printf "taxonomies.%s" $taxonomy) | safeHTML }}
      </h2>
    </a>
  </div>

  <ul class="flex flex-col flex-wrap">
    {{ range first 5 $context.ByCount }}
    <li class="mt-2 mr-2 flex items-center saturate-150 brightness-50 blur-up rounded relative">
      <a href="{{ .Page.RelPermalink }}" class="block w-full h-full">
        <img src="/images/TAG_BG-1.png" alt="{{ $taxonomy }}" class="w-full h-full rounded object-cover">
        <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center rounded" style="background-color: rgba(0, 0, 0, 0.5);">
          <span class="flex flex-1 m-2 text-white text-lg font-bold mr-2 text-left">{{ .Page.Title }}</span>
          <span class="rounded-full m-2 px-3 text-lg bg-white text-slate-800 dark:text-slate-800"> {{ .Count }}</span>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</section>

